a {
  color: #000;
  text-decoration: underline;
}
div.container {
  max-width: 60em;
  margin: 0 auto;
}
h1.title {
  margin-left: 9em;
}
h1 .logo {
  height: 3em;
  width: 2.25em;
  margin-right: 0.5em;
}
.subtitle {
  font-size: .6em;
}
div.navigation {
  background-color: #ccc;
  margin-top: 3em;
  margin-left: 2em;
  width: 13em;
  float: left;
  border: 1px solid #777;
  min-height: 10em;
}
div.navigation ul {
  list-style-type: none;
  padding: .5em;
  margin: 0px;
}
div.navigation li {
  padding: 0px;
  margin: 0px;
}
div.navigation a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
div.navigation a:hover {
  text-decoration: underline;
}
div.content {
  margin-left: 17em;
  margin-top: 3em;
  margin-right: 3em;
}
h2 {
  font-size: 1.1em;
  margin-bottom: .3em;
}
p,dl {
  margin-top: 0em;
}
p {
  text-align: justify;
}
dl.citations dt {
  float: left;
  clear: left;
  margin-left: .5em;
}
dl.citations dd {
  margin-bottom: .5em;
  margin-left 2.5em;
}
img.feature-right {
  clear: both;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}
img.feature-left {
  clear: both;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
div.contact-data {
  margin-left: 2em;
  line-height: 1.5em;
}
